<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout::menu"></nav>
<div class="card">
    <div class="card-header text-bg-danger">
        Mantenimiento Alumnos
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Teléfono</th>
                <th scope="col">E-mail</th>
                <th scope="col">Especialización</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="profesor : ${profesores}">
                <td th:text="${profesor.id}"></td>
                <td th:text="${profesor.nombre}"></td>
                <td th:text="${profesor.apellido}"></td>
                <td th:text="${profesor.telefono}"></td>
                <td th:text="${profesor.correo_electronico}"></td>
                <td th:text="${profesor.especializacion}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>