<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:src="@{/js/web/backoffice/equipos/frmequipos.js}" type="text/javascript"></script>
<nav th:replace="layout::menu"></nav>
<div class="card">
    <div class="card-header text-bg-danger" style = "text-align: center">
        Mantenimiento de Equipos
    </div>
    <div class="card-body">
        <button id="btnagregar" type="button" class="btn btn-info">Agregar</button>
        <hr />
        <div id="divmensaje"></div>
        <table id="tblequipo" class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre de Equipo</th>
                <th scope="col">Entrenador</th>
                <th scope="col">Max Alumnos</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="equipo : ${listequipos}">
                <td th:text="${equipo.id}"></td>
                <td th:text="${equipo.nombre_equipo}"></td>
                <td th:text="${equipo.entrenador.nombre + ' ' + equipo.entrenador.apellido}"></td>
                <td th:text="${equipo.nromaximo}"></td>
                <td>
                    <button type="button" class="btn btn-primary btnactualizar"
                            th:data-equicod="${equipo.id}"
                            th:data-equinom="${equipo.nombre_equipo}"
                            th:data-equient="${equipo.entrenador.id}"
                            th:data-equimax="${equipo.nromaximo}">Actualizar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal registro y actualización de Alumno-->
<div class="modal fade" id="modalequipos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Equipos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtnomequi">Ingrese nombre del equipo.</label>
                    <input type="text" class="form-control" id="txtnomequi"
                           placeholder="Ingrese nombre del equipo.">
                </div>
                <div class="mb-3">
                    <label for="cboentrenador" class="form-label">Seleccione entrenador.</label>
                    <select id="cboentrenador" class="form-select"></select>
                </div>
                <div class="mb-3">
                    <label for="txtmaxequi">Ingrese el máximo de alumnos.</label>
                    <input type="text" class="form-control" id="txtmaxequi"
                           placeholder="Ingrese maximo de alumnos.">
                </div>
                <input type="hidden" id="hddequicod" value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>